#header {
  margin-top: 0px;
  background: #61b3b3;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
}

#userToolsNav a {
  height: 35px;
  text-align: right;
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
}

#userToolsNav a:hover {
  color: #e1eaea;
}

#header.without-logo #userToolsNav {
  float: right;
  margin-right: 7px;
}

#metaNav {
  float: left;
  margin-top: 9px;
}

#secondaryHeader {
  /* Div containing Home button, scope navigation, search form and ask button, check blocks/secondary_header.html */
  height: 55px;
  background: #e1eaea;
  border-bottom: #d3d3c2 1px solid;
  border-top: #fcfcfc 1px solid;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}